<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ireland Weather Forecast</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="search-container">
    <input type="text" id="search-input" name="place" placeholder="Place">
    <button id="search-button" disabled>Search</button>
  </div>
  <div id="container">
    <svg id="map"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    version="1.0"
    ></svg>
  </div>
  <div id="date-container">
    <button id="back">&laquo;</button>
    <span id="date">---</span>
    <button id="forward">&raquo;</button>
  <div>
    <p>
      This app has been developed by Antonio Fernandez to create a data visualization
      for the module CA682 Data Management and Visualisation of GCAI1 Grad Cert in Artificial
      Intelligence  course (2018/2019)
    </p>
  </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
