<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ireland Weather Forecast</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="search-container">
    <input type="text" id="search-input" name="place" placeholder="Place">
    <button id="search-button" disabled>Search</button>
  </div>
  <div id="container">
    <svg id="map"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    version="1.0"
    ></svg>
  </div>
  <div id="date-container">
    <button id="back">&laquo;</button>
    <span id="date">---</span>
    <button id="forward">&raquo;</button>
  </div>
  <footer>
    <p>
      This app has been developed by Antonio Fernandez to create a data visualization
      for the module CA682 Data Management and Visualisation of GCAI1 Grad Cert in Artificial
      Intelligence  course (2018/2019)
    </p>
    <p>
      The app uses <a href="https://darksky.net/poweredby">Dark Sky</a>
      and <a href="https://wiki.openstreetmap.org/wiki/Nominatim">Nominatim</a> APIs.
    </p>
    <p>
      The map is an svg file obtanied in <a href="https://commons.wikimedia.org/wiki/File:Island_of_Ireland_location_map.svg">
      wikimedia commons</a> and only the background color has been modified.
    </p>
    <p>
      The weather icons have been created by Yun Liu and are available at
      <a href="https://www.iconfinder.com/iconsets/weather-color-2">www.iconfinder.com</a><br/>
      All classes inside the icons has been removed and replaced with inline styles.
    </p>
    <h2>
      Usage:
    </h2>
    <ul>
      <li>When load the page wait until the icons appear in the map (this could take a few minutes)</li>
      <li>Hover the icons to get more detailed information</li>
      <li>Press the arrows to see other days forecast</li>
      <li>Click at any point in the map to get information or search the city using the input box at the top (this could take a few minutes)</li>
      <li>Remove any icon by clicking on it</li>
    </ul>
  </footer>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
